@font-face {
    font-family:AlfaSlabOne-Regular;
    src: url(../fonts/AguafinaScript-Regular.ttf);

}
@font-face {
    font-family:FREEBSCA;
    src: url(../fonts/GenzschEtHeyse.ttf);

}
@font-face {
    font-family:Exotica;
    src: url(../fonts/Exotica.ttf);

}